.vscode/
*.DS_Store
ansible.cfg
/Users/Radio/git_workspace/otus/Evgenikk_infra/packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
jdauphant.nginx
vault.key
*.retry
*.log
*.pyc
.molecule
.cache
.pytest_cache
*.env
docker_cmd
minikube